*{
    margin: 0px;
}

.title{
    text-align: center;
    color: brown;
    margin: 10px auto 30px;
}

#carta-texto{
    width: 60%;
    margin: 10px 5px 30px 10%;
    align-items: center;
}

#carta-gerada{
    text-align: center;
}
